:root {
    --first-color: #5B5B5B !important;
    --second-color: #DFDCDC !important;
    --third-color: #D9D9D9 !important;
    --black-color: #000000 !important;
    --bac-one-color: #9DCCFF33 !important;
    --green-color: #49BBBD !important;
    --blue-color: #2F327D !important;
    --70-of-white: #FFFFFFB3;
    --a-color: #696984;
    --h4-color: #252641;
    --bac-two-color: #D9D9D9;
}

.r-p {
    color: var(--a-color);
}

.lina-photo img {
    background-color: var(--third-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}


.container {
    margin: 0 auto;
    padding: 20px;
}

p {
    margin-bottom: 0 !important;
}

body {
    font-family: "Poppins", sans-serif !important;
    min-height: 100svh;
}

header {
    padding-inline: 120px;
    padding-block: 30px;
}

header .logo p {
    left: 25%;
    top: 20%;
    font-size: 32px !important;
    font-weight: bold !important;
    color: var(--first-color);
}

.nav-all {
    gap: 20px !important;
}

.nav-all a {
    color: var(--first-color);
    font-size: 16px !important;
    text-decoration: none;
}

.nav-profile {
    background-color: var(--third-color);
}

.nav-others {
    gap: 15px;

    p {
        font-size: 22px !important;
        color: #121212;
        font-weight: 500;
    }
}

/* ? end of header */


.one-sec {
    background-color: var(--bac-one-color);

    button {
        background-color: var(--green-color);
        border: none;
    }

    h2 {
        color: var(--blue-color) !important;
        font-weight: 600;
        font-size: 44px !important;
    }
}

.first-div {
    max-width: 688px;
}

.first-div p {
    font-size: 24px !important;

    span {
        color: var(--green-color) !important;
    }
}

/* ? end of sec-one */

.two-sec {
    margin-inline: 110px !important;
    margin-block: 80px !important;

    h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .container .row {
        gap: 24px;

        .special-col .two-text-card h4 {
            padding-inline: 80px !important;
        }
    }

    .container .row .col {
        min-height: 327px;
        justify-content: center;
        align-items: center;
    }

    .container .row .one {
        background-image: url("../assets/imgs/laptop-1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }

    .container .row .two {
        background-image: url("../assets/imgs/laptop-2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }

    .container .row .three {
        background-image: url("../assets/imgs/laptop-3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }

    .container .row .four {
        background-image: url("../assets/imgs/laptop-4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }

    .container .row .two-text-card h4 {
        position: relative;
        z-index: 100;
        background-color: var(--70-of-white);
        padding-inline: 40px;

        padding-block: 16px;

        border-radius: 12px;
    }

}

/* ? end of second  */
.three-sec {
    background-color: var(--bac-one-color);
    padding-block: 60px;

    .container {
        padding: 0;
    }
}

.head-three {
    h3 {
        font-size: 30px;
        font-weight: 500;

    }

    button {
        outline: none !important;
        border: none !important;
        background: none !important;
        color: var(--green-color);
        font-weight: bold;
        font-size: 20px;
    }
}

.three-sec .card-content {
    padding-inline: 2rem;
    padding-block: 2rem;
    background-color: white;
    border-radius: 20px;


    img.same-wandh {
        object-fit: cover;
        max-height: 382px;
    }

}

.three-sec .details-card {
    max-width: 684px;

    h4 {
        font-size: 26px;
        font-weight: 500;
        color: var(--h4-color);
    }
}

.three-sec .lina-photo {
    gap: 1rem;

    p {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
    }
}

.three-sec .lina-photo img {
    border-radius: 50%;
    background-color: var(--third-color);
}

.three-sec .views a,
.three-sec .views span,
.three-sec .r-p {
    color: var(--a-color);
}

.arrows {
    margin-top: 40px;
}

.arrow {
    background-color: #49BBBD80;
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;

}

.arrows :last-child {
    background-color: #49BBBD;

}

/* ? end of three-sec */
.four-sec {
    background: #F8F9FB;

    .container {
        padding-block: 5rem;

    }

    .col-3 {}
}

.card-content-2 {
    background: #FFFFFF;
    border-radius: 20px;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1rem;
    padding-block-start: 1.5rem;
    padding-block-end: 2rem;

    h5 {

        font-size: 22px;
        font-weight: 500;
    }

    .r-p {
        font-size: 17px;
        font-weight: 400;
    }

}

.card-content-2 .smae-img {
    aspect-ratio: 335 / 239;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-content-2 .design-price {



    .price {

        font-size: 1.5rem;
        font-weight: bold;
        color: var(--green-color);

        .r-p {
            font-size: 18px;
            text-decoration: line-through;
            font-style: italic;
            font-weight: 300;
            margin-inline-end: 14px;
        }


    }

}

@media (max-width: 768px) {
    nav .nav-all {
        display: none !important;
    }
}

.hamburger {
    width: 35px;
    height: 28px;
    border: none;
    background: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}